
.wayoutsidebtm {
    width: 800px;
  
  }
  .outsidebtm {
    display: inline-block;
     height: 300px;
      width: 300px;
    clip-path: circle(50% at 50% 50%);
     
  }
  
  .box3btm {
    background: rgb(146, 219, 201);
   
    margin-left: 10px;
      clip-path: circle(50% at 50% 50%);
     animation: geeksbtm 5s infinite;
              animation-play-state: paused;
    margin-top: -20px;
  
   
    
  }
  .box2btm {
    height: 150px;
    line-height: 150px;  
  }
  .boxbtm {
    position: relative;
      width: 300px;
    top:150px;
     height: 150px;
          font-size: 40px;
           text-align: center;
     left: 0px;
               top:0px;
                width: 500px;
                   background: #eb8e59;
              
    border-style: solid;
    border-width: 5px;
    border-color: rgb(153, 66, 165);
    overflow: hidden;
          }
            
          @keyframes geeksbtm {
             0% {
                    margin-left: 100px;
               margin-top: 0px;
                width: 70px;
    height: 70px;
   
              }
              20% {
                       margin-left: 30px;
                margin-top: -20px;
                 width: 70px;
    height: 70px;
              
            
            }
             35% {
                      margin-left: 175px;
               margin-top: 50px;
                   width: 70px;
    height: 70px;
               
                 
            }
                100% {
                     margin-left: 30px;
                    margin-top: 25px;
                      width: 70px;
    height: 70px;
            
              }
          }
  
    .box3btm.horizTranslatebtm {
              animation-play-state: running;
          }
            
  
  /* makes it so it starts and stops when you hover over the div */
  
     .box3btm:hover {
              animation-play-state: running;
          }