.boxbtm {
    position: relative;
    animation: geeksbtm 5s infinite;
    animation-play-state: paused;
height: 200px;
font-size: 40px;
 text-align: center;
color: rgb(255, 0, 0);
}
  
@keyframes geeksbtm {
   0% {
        left: 0px;
     top:0px;
      width: 400px;
     height: 400px;
         background: rgb(255, 0, 0);
    clip-path: circle(5%);


        
    }
    75% {
        left: 75px;
      background: rgb(162, 0, 255);
      top:0px;
       width: 400px;
     height: 400px;
 clip-path: circle(50%);

;


    
    }
      100% {
        left: 500px;
     top:300px;
          width: 400px;
     height: 400px;
         background: rgb(255, 0, 0);
        clip-path: circle(1%);
   
        
    }
}

.boxbtm.horizTranslatebtm {
    animation-play-state: running;
}
  

/* makes it so it starts and stops when you hover over the div */

.boxbtm:hover {
    animation-play-state: running;
}